<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Vital Performance Test">
    <listeners>
        <listener class-name="com.ary.qa.listener.BaseListener"/>
    </listeners>
    <parameter name="url" value="https://www.youtube.com/"/>
    <test name="Performance Audit Using CDP">
        <parameter name="browserName" value="chrome-dev-tools"/>
        <parameter name="author" value="nikolaus.wijaya"/>
        <classes>
            <class name="com.ary.qa.CdpPerformanceMetric">
                <methods>
                    <include name="cdpPerformanceMetric"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="LCP FCP CLS Audit Using JS">
        <parameter name="browserName" value="chrome"/>
        <parameter name="author" value="nikolaus.wijaya"/>
        <classes>
            <class name="com.ary.qa.JsPerformanceMetric">
                <methods>
                    <include name="auditYoutubeUsingJs"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Performance Audit Using Lighthouse">
        <parameter name="browserName" value="debug-chrome"/>
        <parameter name="author" value="nikolaus.wijaya"/>
        <classes>
            <class name="com.ary.qa.LightHousePerformanceMetric">
                <methods>
                    <include name="auditYoutubeUsingLightHouse"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>